# Archivos de compilación y temporales de Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/pubspec.lock

# Android
.gradle/
local.properties
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/

# IDEs
.idea/
*.iml
*.iws
.vscode/

# MacOS
.DS_Store

# Log files
*.log
